<a href="/">Go Back</a>

<h1>Login</h1>
<h3>Log in to to view your dashboard!</h3>

<form action="/login" method="POST">
  <label for="email">Email/Username:</label>
  <input id="email" name="email" type="email" placeholder="Enter your email" required><br>

  <label for="password">Password:</label>
  <input id="password" name="password" type="password" placeholder="Enter your password" required><br>

  <button type="submit">Log In</button>
</form>